<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Shortcuts">
        <setting id="shortcutsver" type="text" label="32001" enable="false" default="" />
        <!--<setting id="overwritemain" label="32003" type="bool" default="False" />-->
        <setting id="keepmyshortcuts" label="32005" type="bool" default="False" />
    </category>
    <category label="Update zips">
        <setting id="updatesver" type="text" label="32002" enable="false" default="" />
    </category>
    <category label="Main menu SF folders">
        <setting id="mainxmlsver" type="text" label="32004" enable="false" default="" />
    </category>
    <category label="Other">
        <setting id="gkobusetguiset" type="text" label="System Settings Version" enable="false" default="" />
        <setting id="gkobupvrask2" type="text" label="Stalker Install Ask" enable="false" default="" />
        <setting id="addonupdatesmonitor" label="Addons updates monitor" type="bool" default="False" />
        <setting id="mininsleep" type="slider" label="Minutes of service in sleep mode" option="int" range="0,1440" default="5"/>
    </category>
</settings>