<settings version="2">
    <setting id="shortcutsver">19.1.5</setting>
    <setting id="keepmyshortcuts" default="true">false</setting>
    <setting id="keepmyskinproperties">2</setting>
    <setting id="updatesver">19.1.5</setting>
    <setting id="mainxmlsver">19.1.5</setting>
    <setting id="gkobusetguiset">1.3</setting>
    <setting id="gkobupvrask2">true</setting>
    <setting id="addon.updates.monitor">true</setting>
    <setting id="mininsleep">5</setting>
    <setting id="lasttimecheck">2021-12-08 00:51:09.776923</setting>
</settings>
